@import "./variables.scss";

html,
body {
  height: 100%;
}
body {
  font-family: $font;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: $secondColor;
  }
}
a {
  &:link {
    text-decoration: none;
  }
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s ease-in-out;
}

section {
  width: 100%;
  padding: 40px 0;

  @media (min-width: $sm) {
    padding: 60px 0;
  }

  &:nth-child(even) {
    background: #f7f7f7;
  }

  .row {
    justify-content: center;
  }

  .container {
    position: relative;
  }

  button.clear-search {
    position: absolute;
    left: 15px;
    top: 15px;
    display: block;
    margin: 0 auto 5px auto;
    height: auto;
    font-size: 13px;
    line-height: 1;
    padding: 8px 12px;
    background: #f1f1f1;
    border: none;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
    color: $primaryColor;
    text-transform: lowercase;
    transition: all 0.1s linear;

    svg {
      font-size: 15px;
      margin-right: 5px;
    }

    &:hover {
      background: $primaryColor;
      color: #fff;
      border-color: darken($primaryColor, 10%);
    }
  }

  h2 {
    font-size: 30px;
    margin: 0 0 30px;
    color: $secondColor;
    text-align: center;
    line-height: 25px;
    text-transform: capitalize;

    @media (min-width: $sm) {
      font-size: 40px;
      line-height: 30px;
    }

    span {
      display: block;
      color: $primaryColor;
      text-transform: uppercase;
      font-size: 35%;
    }
  }
}
