$font: "Oswald", serif;
$fontText: "Merriweather", serif;

$primaryColor: #0359a6;
$secondColor: #d94f26;
$thirdColor: #2b2b2b;

// grid
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xlg: 1400px;
