@import "./../style/variables.scss";

.hidden-xs {
  @media (max-width: $xs) {
    display: none;
  }
}
.visible-xs {
  @media (min-width: $xs) {
    display: none;
  }
}
.img-responsive {
  max-width: 100%;
}
.center-block {
  display: block;
  margin: 0 auto;
}
.font-text {
  font-family: $fontText;
}
