@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,400i,500,600,700&display=swap");
@import "./style/variables.scss";

html,
body {
  height: 100%;
}
body {
  font-family: $font;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: $secondColor;
  }
}
a {
  &:link {
    text-decoration: none;
  }
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s ease-in-out;
}
